# This is Git's per-user configuration file.
[user]
	name = Alexander Blume
	email = alex.gos90@gmail.com
[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	adog = log --all --decorate --oneline --graph
	co = checkout
	br = branch
	ci = commit
	st = status
	ls = log --pretty=format:\"%C(green)%h\\\\ %C(yellow)[%ad]%Cred%d\\\\ %Creset%s%Cblue\\\\ [%an]\" --decorate --date=relative
	ld = "!f() { git log --oneline --date=relative $1 --not $2; }; f"
	ldm = "!f() { git log --oneline --date=relative $1 --not master; }; f"
	bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -n1 git branch -d; }; f"
	dm = "!f() { git diff master...$1; }; f"
	assume-unchanged = update-index --assume-unchanged
	assume-changed = update-index --no-assume-unchanged
	cbr = rev-parse --abbrev-ref HEAD
	unstage = reset HEAD --
	tr = ls-tree --name-only
	tracked = ls-tree --name-only
[branch]
	autoSetupRebase = always
[push]
	default = current
[pull]
	default = current
